# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# java & logs
hs_err_*.log
replay_*.log
*.hprof
build_*.log
build_*.txt
*.log
*.txt
oracleJdk-26/
scratch_*
/com/
Test.java
test-build-26x.ps1
run-print-methods.ps1
remap_26.py
class-info.txt
